.cinemaLi {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


}

.cinemaItem {
    border: 1px solid rgba(255, 255, 255, 0.719);
    width: calc((100% - 30px) / 2);

}

form {
margin-left: 240px;
margin-bottom: 20px;
width: 100px;
display: flex;
gap: 30px;
}
